/* comes from node_modules/billboard.js/dist/billboard.min.css */
@import 'billboard.js/dist/billboard.min.css';
@import 'flatpickr/dist/flatpickr.css';
@import 'flatpickr/dist/plugins/monthSelect/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* overrides for the above */

.bb svg {
  font: 12px "Roboto Mono";
}

.flatpickr-input {
  width: 12rem;
}

/* gotta go somewhere right */

@font-face {
    font-family: 'SNES';
    src: url('/fonts/SNES.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
  line-height: 1.6rem;
  font-family: "Wotfard", "Avenir Medium", "Avenir Next Medium", "Avenir Next LT Pro", "Montserrat", sans-serif;
}

code, pre {
  font-family: "Roboto Mono", "Consolas", monospace;
  font-size: 14px;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 0px 4px 1px 4px;
  line-height: 1;
}
