/* comes from node_modules/billboard.js/dist/billboard.min.css */
@import 'billboard.js/dist/billboard.min.css';
@import 'flatpickr/dist/flatpickr.css';
@import 'flatpickr/dist/plugins/monthSelect/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* overrides for the above */

.bb svg {
  font: 12px "Roboto Mono";
}

@font-face {
    font-family: 'SNES';
    src: url('/fonts/SNES.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
